<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94342666829-7o4lpjip3igjlqg5e8p9s4ms9hf607f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94342666829-7o4lpjip3igjlqg5e8p9s4ms9hf607f4</string>
	<key>API_KEY</key>
	<string>AIzaSyDURV5Xz_xVzSqbmB1zZv6fAeKdbKLRzfo</string>
	<key>GCM_SENDER_ID</key>
	<string>94342666829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnmolJain.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-19420</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-19420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94342666829:ios:1f09dc2336ab3799c49a04</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-19420.firebaseio.com</string>
</dict>
</plist>